<div class="content-container">
  <div class="content-container--start">
    <h1 class="text text--large">Als mittelständischer Zimmerbetrieb in <span class="text--heavy-bold">Berglen</span></h1>
    <p class="text text--medium">
      sind wir für Sie als Kunde immer bemüht unsere Arbeitstechniken zu optimieren und unsere
      Maschinen auf dem aktuellsten, technischen Stand zu halten.
    </p>
    <p class="text text--small">
      <span class="text--heavy-bold">"Hand in Hand mit dem Kunde"</span> bedeutet für uns auch:
      Sie neben unserem traditionellen Zimmerei-Leistungsspektrum in
      Ihren Vorhaben in Sachen Holz durch fachmännische <span class="text--heavy-bold">"Anleitung zum Selberbauen"</span> zu unterstützen.
    </p>
    <a href="#" class="text text--medium text--heavy-bold">Fragen Sie Uns!</a>
  </div>
</div>

<div class="container-fluid background-container">
  <div class="content-container">
    <p class="text text--large">Seit 1996 sind wir auch <span class="text--heavy-bold">anerkannter Ausbildungsbetrieb</span> und haben bereits
      4 Lehrlinge erfolgreich ausgebildet.</p>
  </div>
</div>

<div class="content-container">
  <div class="content-container--start">
    <h2 class="text text--large">unser <span class="text--heavy-bold">Produktspektrum</span> umfasst unter anderem</h2>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <p class="text text--small">
          - Carports<br>
          - Vordächer<br>
          - Pergolas<br>
          - Balkone und Terassenbeläge<br>
          - Fassadenschalung<br>
          - Holzhäuser in Holzständerbauweise / Holzrahmenbau<br>
          - Gauben<br>
          - Dachsanierung und - Neubau / Dächer
        </p>
      </div>
      <div class="col-lg-8 col-md-12">
        <img src="../../assets/IMG_1194.png" class="img--margin-top" />
      </div>
    </div>
  </div>

  <div class="content-container--start">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <img src="../../assets/IMG_1116.png" />
      </div>
      <div class="col-lg-4 col-md-12">
        <img src="../../assets/IMG_1999.png" />
      </div>
      <div class="col-lg-4 col-md-12">
        <h2 class="text text--large">
          Das <span class="text--heavy-bold">bieten</span> wir <span class="text--heavy-bold">Ihnen</span>
        </h2>
        <p class="text text--small">
          - Produktionsfläche von 800qm<br>
          - Holzbauarbeiten aller Art<br>
          - Neubau von Dachstühlen<br>
          - Altbausanierung<br>
          - Umbau / Anbau in Holzständerbauweise<br>
          - Dachfensterarbeiten (Neueinbau / Austausch von Dachfenstern
        </p>
      </div>
    </div>
    <button [routerLink]="['/contact']" class="contact-button">Kontakt</button>
  </div>
</div>
