<div class="content-container">
  <div class="content-container--start">
    <h1 class="text text--large">Unsere <span class="text--heavy-bold">Firmengeschichte</span></h1>

    <div class="history-points-container">
      <h4 class="text text--medium">Gründung am 01.01.1994</h4>
      <p class="text text--small">als kleiner Nebenerwerbsbetrieb mit Firmensitz in Rettersburg haben
        wir sowohl räumlich als auch in der Mitarbeiterzahl kontinuierlich expandiert</p>
    </div>

    <div class="history-points-container">
      <h4 class="text text--medium">März 1995</h4>
      <p class="text text--small">Harald Bauer leitet den Betrieb in Vollzeit mit Unterstützung der Familie
        und qualifizierten Aushilfen.</p>
    </div>

    <div class="history-points-container">
      <h4 class="text text--medium">Februar 1996</h4>
      <p class="text text--small">Einstellung des ersten festen Mitarbeiters und Erwerb des Bauplatzes unseres heutigen
        Firmensitz in Berglen, Boschstraße 5. Seit diesem Jahr sind wir auch Ausbildungsbetrieb.</p>
    </div>

    <div class="history-points-container">
      <h4 class="text text--medium">Januar 1997</h4>
      <p class="text text--small">Fertigstellung unseres Neubaus und Produktionsstart in den neuen Räumen.</p>
    </div>

    <div class="history-points-container">
      <h4 class="text text--medium">Juli 1997</h4>
      <p class="text text--small">Umzug ins fertiggestellte Büro in der Boschstraße 5 in Berglen.</p>
    </div>

    <div class="history-points-container">
      <h4 class="text text--medium">Derzeit</h4>
      <p class="text text--small">arbeiten wir mit drei festangestellten Mitarbeitern, Harald Bauer und seiner Ehefrau.
        Bei Bedarf können wir auf qualifizierte und bewährte Aushilfen zurückgreifen.</p>
    </div>
    <button [routerLink]="['/contact']" class="contact-button">Kontakt</button>
  </div>
</div>
