.content-container {
  &--start {
    .maps-container {
      iframe {
        height: 640px;
        width: 100%;

        @media (max-width: 992px) {
          height: 400px;
          margin-bottom: 40px;
        }
      }
    }

    .address-container {
      div {
        margin: 20px 0;

        span {
          margin-left: 10px;
        }
      }
    }
  }
}
