<div class="content-container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand navbar-logo" [routerLink]="['/home']"><img src="../../../assets/Logo2.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-links">
        <a [routerLink]="['/aboutUs']" [routerLinkActive]="['active-link']" class="text text--medium">Über uns</a>
        <a [routerLink]="['/history']" [routerLinkActive]="['active-link']" class="text text--medium">Firmengeschichte</a>
        <a [routerLink]="['/contact']" [routerLinkActive]="['active-link']" class="text text--medium">Kontakt</a>
        <a [routerLink]="['/legal-notice']" [routerLinkActive]="['active-link']" class="text text--medium">Impressum</a>
        <a href="#" class="text text--medium">Datenschutz</a>
      </div>
    </div>
  </nav>
</div>




