.content-container {
  &--start {
    margin-top: 170px;

    @media (max-width: 992px) {
      margin-top: 40px;
    }

    p {
      margin: 30px 0;
      width: 640px;

      @media (max-width: 992px) {
        margin: 20px 0;
      }

      @media (max-width: 992px) {
        width: 100%;
      }

      &:nth-child(4) {
        width: 500px;

        @media (max-width: 992px) {
          width: 100%;
        }
      }
    }
  }
}
