<div class="content-container">
  <div class="content-container--start">
    <h1 class="text text--large">Herzlich Willkommen bei der <span class="text--heavy-bold">Zimmerei Bauer</span></h1>
    <p class="text text--medium">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
      labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
    </p>
    <a [routerLink]="['/aboutUs']" class="text text--medium text--bold">Über uns</a>
    <p class="text text--small">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
    </p>

    <button [routerLink]="['/contact']" class="contact-button">Kontakt</button>
  </div>
</div>
