body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  .content-container {
    min-height: 100px;
    margin: 0 auto;
    width: 1400px;

    @media (max-width: 1400px) {
      width: 100%;
    }

    &--start {
      margin-top: 80px;

      @media (max-width: 1400px) {
        padding: 0 30px;
      }

      @media (max-width: 992px) {
        margin-top: 40px;
        padding: 0 20px;
      }
    }

    .text {
      font-weight: 200;
      color: #655B5B;

      &--large {
        font-size: 30px;
      }

      &--medium {
        font-size: 20px;
      }

      &--small {
        font-size: 16px;
      }

      &--heavy-bold {
        font-weight: bold;
      }

      &--bold {
        font-weight: bolder;
      }
    }

    .contact-button {
      background-color: #655B5B;
      border: none;
      bottom: 200px;
      color: white;
      float: right;
      font-size: 20px;
      font-weight: bolder;
      height: 60px;
      margin: 50px 0;
      width: 360px;

      @media (max-width: 992px) {
        float: none;
        margin: 30px auto 40px auto;
        width: 100%;
      }
    }
  }
}
